* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.login-page {
    align-items: center;
    height: 100vh;
    justify-content: center;

}

.login-area {
    background: gre;
    height: 40vh;
    align-items: center;
    text-align: center;

    

    justify-content: center;
    
}

.row {
    display: flex;
    padding: 10px;
    gap: 40px 10px;
}

.btn-criar-conta {
    font-size: 14px;
}

body .login-page .login-area{
    
}