* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";

    --branco: #F9F7F7;
    --azul-claro: #DBE2EF;
    --azul: #3F72AF;
    --azul-escuro: #112D4E;
    --preto-claro: #181b1f;
    --preto-escuro: #000000;
}

body {
    background-color: var(--azul-claro);
    
}

.display-flex {
    display: flex;
}

.home-page-cliente  {
    height: 110vh;

    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.home-area-cliente {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* emprestimo*/

.emprestimo-atual,.credores-disponiveis, .historico {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.emprestimo-atual .emprestimo h3 {
    width: 10rem;
}

.emprestismo-atual-info, .credores-disponiveis, .historico {
    background-color: var(--branco);
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.emprestimo-info {
    gap: 1rem;
    width: 30rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabela-emprestimo-atual {
    width: 30rem;
}

.credores-disponiveis, .historico  {
    flex-direction: column;
    align-items: center;

    height: 30vh;
    border-radius: 1rem;
}


table {  
    font-family:sans-serif;
    width: 30rem;
    text-align: center;
    
    th, td {
      padding:.25em .5em;
      text-align:center;
      &:nth-child(2) {
        text-align:center;
      }
    }
    td {
      background-color:var(--azul-claro);    
    }
    th {
      background-color:var(--azul);
      color:var(--branco);
      align-items: center;

    }
}

button, .btn {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    padding: .5rem 1rem;

    color: var(--branco);
    background: var(--azul);
    font-weight: bold;

    text-align: center;

    transition: 0.2s background;
}

button:hover {
    background-color: var(--azul-escuro);
    cursor: pointer;
}
