*{
    margin:0;
    padding:0;
    font-family: "Open Sans";

    --branco: #F9F7F7;
    --azul-claro: #DBE2EF;
    --azul: #3F72AF;
    --azul-escuro: #112D4E;
    --preto-claro: #181b1f;
    --preto-escuro: #000000;
}

.display-flex{
    display: flex;
}

.home-page-credor {
    height: 100vh;
    background-color: var(--azul-claro);

    flex-direction: column;
    align-items: center;
    gap: 3rem;

}

.home-area-credor{
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.solicitacoes-de-emprestimo, .solicitacoes-aprovadas{
    background-color: var(--branco);
    flex-direction: column;
    align-items: center;

    width: 35rem;
    padding: 1rem;
    border-radius: 1rem;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 40vh;
}

.solicitacoes-de-emprestimo {
    gap: 2rem;
}

.solicitacoes-aprovadas {
    gap: 2rem;
}

.botoes-aceitar-negar{
    align-self: auto;
    display: in-line;
    gap: 10px;
}


.tabela-style {  
    font-family:sans-serif;
    width: 30rem;
    text-align: center;
    border: none;
    th, td {
      padding:.25em .5em;
      text-align:center;
      &:nth-child(2) {
        text-align:center;
      }
    }
    td {
      background-color:var(--azul-claro);    
      border: none;
    }
    th {
      background-color:var(--azul);
      color:var(--branco);
      align-items: center;
      border: none;
    }
}

button {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    padding: .5em 1em;

    color: var(--branco);
    background: var(--azul);
    font-weight: bold;

    text-align: center;

    transition: 0.2s background;
}

button:hover {
    background-color: var(--azul-escuro);
    cursor: pointer;
}