<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crediotage - Cadastro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style-cadastro.css">
    <link rel="shortcut icon" href="/image/icon.jpg" type="image/x-icon">
</head>
<body>
    <div class="cadastro-page display-flex">
        <div class="cadastro-area display-flex">
            <div class="title">
                <h1>Cadastrar</h1>
            </div>

            <form action="/save" method="POST">
                <div class="row">
                    <label class="label" for="name">Nome Completo</label>
                    <input class="input" name="name" id="name">
                </div>

                <div class="row">
                    <label class="label" for="email">E-mail</label>
                    <input class="input" type="email" name="email" id="email">
                </div>
                

                <div class="row">
                    <label class="label" for="password">Senha</label>
                    <input class="input" type="password" name="password" id="password">
                </div>
                
                <div class="row">
                    <label class="label" for="cpf">CPF</label>
                    <input class="input" name="cpf" id="cpf" maxlength="11" pattern="\d{11}" title="Digite apenas números">

                </div>

                <div class="row">
                    <label class="label" for="endereco">endereco</label>
                    <input class="input" type="endereco" name="endereco" id="endereco">
                </div>
                
                <div class="row">
                    <label class="label" for="dataNascimento">Data de Nascimento</label>
                    <input class="input" type="date" name="dataNascimento" id="dataNascimento">
                </div>

                <div class="row radio">
                    <label class="label" >Tipo de Conta:</label>

                    <input type="radio" name = "tipo" value="cliente">
                    <label>Cliente</label>

                    <input type="radio" name = "tipo" value="credor">
                    <label>Credor</label>
                </div>
                
                <button>Cadastrar</button>
                <a href="/login">Login</a>
            </form>
        </div>
    </div>
</body>
</html>