<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/image/icon.jpg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!--<link rel="stylesheet" href="/css/style-home-page-credor.css">-->
    <link rel="stylesheet" href="../static/css/style-home-page-credor.css">


    <title>Crediotage - Incio</title>
</head>
<body>
    <div class="home-page-credor display-flex">
        <div class="home-area-credor display-flex">
            <form action="/sair" method="POST">
                <button>sair</button>
            </form>
            
            <div class="title">
                <h1>Crediotage</h1>
            </div>

            <div class="criar-emprestimo display-flex">
                <form action="home/criar-proposta" method="post">
                    <div class="row">
                        <label for="valorMaximo">Valor Maximo</label>
                        <input id="valorMaximo" name="valorMaximo">
                    </div>
                    <div class="row">
                        <label for="juros">Juros</label>
                        <input id="juros" name="juros">
                    </div>
                    <div class="row">
                        <label for="dataLimite">Dar prazo limite</label>
                        <input type="date" id="dataLimite" name="dataLimite">
                    </div>
                    <button id="btn">criar</button>
                </form>
            </div>

            <div class="solicitacoes-de-emprestimo display-flex">
                <div class="solicitacoes display-flex">
                    <h3>Solicitações de Emprestimo</h3>
                </div>

                <div class="solicitacoes-info display-flex">
                
                    <form action="home/gerenciar-solicitacao" method="POST">
                        <table class="tabela-style tabela-solicitacoes">
                            <thead >
                                <tr>
                                    <th>Nome</th>
                                    <th>Valor Solicitado</th>
                                    <th>Data de Pagamento</th>
                                    <th>Selecionar</th>
                                </tr>
                            </thead>


                            <tbody th:each="solicitacao : ${solicitacoes}">
                                <tr>
                                    <td th:text="${solicitacao.cliente.nome}"></td>
                                    <td th:text="${solicitacao.valorSolicitado}"></td>
                                    <td th:text="${solicitacao.dataDePagamento}"></td>

                                    <td>
                                        <input id="checkbox" type="checkbox" name="idSolicitacoes" th:value="${solicitacao.id}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            <div class="botoes-aceitar-negar display-flex">
                                <button name="aprovado" value="true">Aceitar</button>
                                <button name="aprovado" value="false">Negar</button>
                            </div>
                    </form>
                </div>



            </div>

            <div class="solicitacoes-aprovadas display-flex">
                <div class="title">
                    <h3>Solicitações aprovadas</h3>
                </div>

                <table class="solicitacoes tabela-style">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Valor Solicitado</th>
                            <th>Data Proposta</th>
                        </tr>
                    </thead>
                    <tbody th:each="solicitacao : ${solicitacoesAprovadas}">
                        <tr>
                            <td th:text="${solicitacao.cliente.nome}"></td>
                            <td th:text="${solicitacao.valorSolicitado}"></td>
                            <td th:text="${solicitacao.dataDePagamento}"></td>
                        </tr>
                    </tbody>         
                </table>
            </div>
        </div>

    </div>
</body>
</html>