<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style-home-page-cliente.css">
    <title>Cregitage</title>
    <style>
        table, th, td{
            border: 1px solid black;
            max-width: fit-content;
        }
        table.center{
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
    <div class="home-page-cliente display-flex">
        <div class="title">
            <h1>Creditage</h1>
        </div>
        <div class="home-area-cliente display-flex">
            <div class="emprestismo-atual-info">
                <div class="emprestimo-atual display-flex">
                    <div class="emprestimo">
                        <h3></h3>
                    </div>
                    <div class="emprestimo-info display-flex">
                        <table class="center">
                            <tr>
                                <th>Valor</th>
                                <th>Juros</th>
                                <th>Credor</th>
                                <th>Prazo</th>
                            </tr>
                            <tr>
                                <td>R$ 1000,00</td>
                                <td>1.54%</td>
                                <td>Yasmin Sarinho</td>
                                <td>21/01/2025</td>
                            </tr>
                        </table>
                    </div>
                </div> 
    
                <div class="emprestimo-atual display-flex">
                    <div class="emprestimo">
                        <h3>Empresimo atual</h3>
                    </div>
                    <div class="emprestimo-info display-flex">
        
                    </div>
                </div>
            </div>
            

            <div class="credores-disponiveis display-flex">
                <div class="title">
                    <h3>Credores Disponiveis</h3>
                </div>
                <div class="credores-lista display-flex">
                    <div class="credores-nomes">
                        <h4>Nome</h4>
                    </div>
                    <div class="credores-juros">
                        <h4>Juros</h4>
                    </div>

                </div>
            </div>

            <div class="historico display-flex">
                <div class="title">
                    <h3>Histórico de solicitações</h3>
                </div>

                <div class="historico-lista display-flex">
                    <div class="status">
                        <h4>Status</h4>
                    </div>
                    <div class="credor-nome">
                        <h4>Nome</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>