<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/image/icon.jpg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-home-page-cliente.css">

    <link rel="stylesheet" href="../static/css/style-home-page-cliente.css">

    <title>Crediotage - Inicio</title>

</head>
<body>
    <div class="home-page-cliente display-flex">

        <div class="cabecalho">
            <h5 th:text="${nomeCliente}">Nome do Cliente</h5>

            <form action="/sair" method="POST">
                <button>sair</button>
            </form>
        </div>

        <div class="home-area-cliente display-flex">
            <div class="emprestismo-atual-info display-flex">
                <div class="emprestimo-atual display-flex" >
                    <div class="emprestimo">
                        <h3>Emprestimo atual</h3>
                    </div>
                    <div class="emprestimo-info display-flex" th:if="${emprestimo != null}">
                        <table class="tabela-emprestimo-atual">
                            <thead>
                                <tr>
                                    <th>Valor</th>
                                    <th>Juros</th>
                                    <th>Credor</th>
                                    <th>Prazo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${emprestimo.valor}"></td>
                                    <td th:text="${emprestimo.juros}"></td>
                                    <td th:text="${emprestimo.credor.nome}"></td>
                                    <td th:text="${emprestimo.dataPrazoFinal}"></td>
                                </tr>
                            </tbody>
                            
                        </table>
                        <form action="/home/pagar" method="POST">
                                <button name="idEmprestimo" th:value="${emprestimo.id}">pagar</button>
                            </form>
                    </div>
                </div> 
            </div>


            <div class="credores-disponiveis display-flex" th:if="${emprestimo == null}">
                <div class="title">
                    <h3>Credores Disponiveis</h3>
                </div>
                <div class="credores-lista display-flex ">
                    <table class="tabela-credores ">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Valor Máximo</th>
                            <th>Juros</th>
                            <th>Data Limite</th>
                            <th>Explorar</th>
                        </tr>
                        </thead>
                        <tbody th:each="proposta : ${propostas}">
                        <tr>
                            <td th:text="${proposta.credor.nome}"></td>
                            <td th:text="${proposta.valorMaximo}"></td>
                            <td th:text="${proposta.juros}">
                            <td th:text="${proposta.dataLimite}"></td>
                            <td><a th:href="@{'/explorar/' + ${proposta.id} + '/'}">🔎</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="historico display-flex">
                <div class="title">
                    <h3>Histórico de solicitações</h3>
                </div>

                <div class="historico-lista display-flex">
                    <table class="tabela-historico ">
                        <thead>
                            <tr>
                                <th>Credor</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody th:each="solicitacao : ${solicitacoes}">
                            <tr>
                                <td th:text="${solicitacao.proposta.credor.nome}"></td>
                                <td th:text="${solicitacao.status}"></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>